<div class="container">
	<div class="page-header">
		<h3>Thanks for investing with EnergyNew!</h3>
	</div>
	<div class="row">
		<div class="span12">
			<h3>What now?</h3>
			<p>Donec dapibus tincidunt lectus et mollis. Mauris eleifend placerat neque. Mauris pretium auctor tristique. Phasellus erat erat, lobortis sit amet iaculis vitae, tincidunt in eros. Curabitur feugiat pulvinar ligula, ut hendrerit nisi vulputate vel. Aliquam suscipit facilisis ultricies. Suspendisse id metus augue. Donec fermentum elit molestie urna facilisis commodo. Curabitur auctor, quam vel consequat pellentesque, nisi arcu vulputate dolor, vitae malesuada augue nisi in neque. Cras dictum scelerisque urna, sit amet consectetur elit vestibulum vulputate. Mauris eget libero eget lacus lobortis commodo. Donec sit amet ipsum nisl. Integer hendrerit, justo non semper cursus, leo velit ullamcorper lorem, vel consequat mi nunc sit amet justo.</p>
			<h3>Your returns</h3>
			<p>Donec dapibus tincidunt lectus et mollis. Mauris eleifend placerat neque. Mauris pretium auctor tristique. Phasellus erat erat, lobortis sit amet iaculis vitae, tincidunt in eros. Curabitur feugiat pulvinar ligula, ut hendrerit nisi vulputate vel. Aliquam suscipit facilisis ultricies. Suspendisse id metus augue. Donec fermentum elit molestie urna facilisis commodo. Curabitur auctor, quam vel consequat pellentesque, nisi arcu vulputate dolor, vitae malesuada augue nisi in neque. Cras dictum scelerisque urna, sit amet consectetur elit vestibulum vulputate. Mauris eget libero eget lacus lobortis commodo. Donec sit amet ipsum nisl. Integer hendrerit, justo non semper cursus, leo velit ullamcorper lorem, vel consequat mi nunc sit amet justo.</p>
			<h3>Project updates</h3>
			<p>Donec dapibus tincidunt lectus et mollis. Mauris eleifend placerat neque. Mauris pretium auctor tristique. Phasellus erat erat, lobortis sit amet iaculis vitae, tincidunt in eros. Curabitur feugiat pulvinar ligula, ut hendrerit nisi vulputate vel. Aliquam suscipit facilisis ultricies. Suspendisse id metus augue. Donec fermentum elit molestie urna facilisis commodo. Curabitur auctor, quam vel consequat pellentesque, nisi arcu vulputate dolor, vitae malesuada augue nisi in neque. Cras dictum scelerisque urna, sit amet consectetur elit vestibulum vulputate. Mauris eget libero eget lacus lobortis commodo. Donec sit amet ipsum nisl. Integer hendrerit, justo non semper cursus, leo velit ullamcorper lorem, vel consequat mi nunc sit amet justo.</p>
			<h3>Legal stuff</h3>
			<p>Donec dapibus tincidunt lectus et mollis. Mauris eleifend placerat neque. Mauris pretium auctor tristique. Phasellus erat erat, lobortis sit amet iaculis vitae, tincidunt in eros. Curabitur feugiat pulvinar ligula, ut hendrerit nisi vulputate vel. Aliquam suscipit facilisis ultricies. Suspendisse id metus augue. Donec fermentum elit molestie urna facilisis commodo. Curabitur auctor, quam vel consequat pellentesque, nisi arcu vulputate dolor, vitae malesuada augue nisi in neque. Cras dictum scelerisque urna, sit amet consectetur elit vestibulum vulputate. Mauris eget libero eget lacus lobortis commodo. Donec sit amet ipsum nisl. Integer hendrerit, justo non semper cursus, leo velit ullamcorper lorem, vel consequat mi nunc sit amet justo.</p>
		</div>
	</div>
</div>