<div class="container">
  <div class="jumbotron">
    <h1>Energy Efficiency!</h1>
    <p class="lead">Make a loan. Save energy. Earn returns. Start today.</p>
    <%= link_to 'Start Investing', projects_path, class: 'btn btn-primary btn-large' %>
  </div>
  <hr class="home">
</div>



<div class="container">
  <div class="row well">
    <div class="span12">
      <h3 style="padding-bottom: 40px;">Featured Investment</h3></br>
    </div>

   
    <div class="span2">
       <p>
          <%= link_to 'Browse All Investments', projects_path, class: 'btn btn-small btn-primary' %>
        </p>
    </div>
  </div>

<hr class="home">

  <div class="row well">
    <div class="span12">
      <h3 style="padding-bottom: 40px;">How It Works</h3></br>
      <div class="span3" style="margin-left: 0px;">
        <h3>1. Browse</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
        <div class="span3">
          <h3>2. Invest</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
       <div class="span3">
          <h3>3. Save</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
       <div class="span3">
          <h3>4. Earn</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
  </div>

<hr class="home">
 
  <div class="row well">
    <div class="span11">
      <h3 style="padding-bottom: 40px;">About Us</h3></br>
      <h3>Our Team</h3>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <h3>Our Mission</h3>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>
  </div>

<hr class="home">

</div>


