/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding-top: 40px;
	height: 100%;
	padding-bottom: 100px;
}

html {
	height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}

.push {
    height: 63px;
}

.alert {
	width: 890px;
}

/* Footer */

footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
        }

footer a {
    color: #999;
}

footer a:hover {
    color: #efefef;
}

/* Main Home Page */

.main-content {
	background: #ffffff;
	border-top: 3px solid #dfdfdf;
	border-bottom: 3px solid #dfdfdf;
	min-height: 400px;
	margin-bottom: 400px;
	position: relative;
	-webkit-box-shadow: inset 0 16px 80px -20px #aaa, 0 -5px 7px rgba(0,0,0,0.1), 0 6px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 16px 80px -20px #aaa, 0 -5px 7px rgba(0,0,0,0.1), 0 6px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 16px 80px -20px #aaa, 0 -5px 7px rgba(0,0,0,0.1), 0 6px 4px rgba(0,0,0,0.1);
	z-index: 2 !important;
}

.main-levels {
	margin-top: 20px;
	margin-bottom: 50px;
}

hr.home {
border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home-funding {
	height: 70px;
	padding-top: 10px;
}


.home-funding-percent {
	width: 110px;
	padding-left: 15px;
	float: left;
}

.home-funding-total {
	width: 110px;
	float: left;
	padding-left: 5px;
}

.home-funding-savings {
	width: 110px;
	float: left;
	padding-left: 5px;
}

.home-funding .progress {
	height: 8px;
	width: 300px;
	margin-left: 25px;
	background: #dddddd;
}

.home-funding .progress .bar{
	background-color: #dddddd;
	width: 0;
}

.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
  text-align: left;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/home-lights.jpg) repeat center center;
  opacity: .4;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }

}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

/* Project Index Page */

.row ul{

}

.thumbnails li{
	background-color: #ffffff;
	font-size: 12px;
	box-shadow: 2px 2px 2px #eeeeee;
	border: 1px #dddddd solid;
	padding: 4px 4px 4px 4px;
	margin-right: 0px;
	margin-left: -20px;
}

.index-caption {
	height: 150px;
}

.index-funding {
	background-color: #dddddd;
	height: 75px;
	padding-top: 15px;
}


.index-funding-percent {
	width: 65px;
	padding-left: 15px;
	float: left;
	font-size: 11px;
}

.index-funding-total {
	width: 65px;
	float: left;
	padding-left: 5px;
	font-size: 11px;
}

.index-funding-savings {
	width: 65px;
	float: left;
	padding-left: 5px;
	font-size: 11px;
}

.index-funding .progress {
	height: 8px;
	width: 170px;
	margin-left: 25px;
}

.index-funding .progress .bar{
	background-color: #dddddd;
	width: 0;
}

.index-operational {
	text-align: center;
}

/* Show Project Page */

.table tr td {
	width: 100px;
}

.show-container {
	position: relative;
	width: 940px;
	margin-top: 20px;
	
}

.show-details {
	width: 450px;
	min-height: 150px;
	position: absolute;
	right: 20px;
	top: 370px;
	background-color: #ffffff;
	opacity: 1;
	padding: 10px 12px;
	z-index: 3;
	border: 1px #000000 solid;

}

.show-photo {
	position: absolute;
	width: 940px;
	height: 500px;
	z-index: 1;
	opacity: 0.8;

}

.show-funding {
	background-color: #dddddd;
	height: 90px;
	padding-top: 15px;
}


.show-funding-percent {
	width: 140px;
	padding-left: 15px;
	float: left;
}

.show-funding-total {
	width: 140px;
	float: left;
	padding-left: 5px;
}

.show-funding-savings {
	width: 140px;
	float: left;
	padding-left: 5px;
}

.show-funding .progress {
	height: 15px;
	width: 350px;
	margin-left: 50px;
	margin-top:10px;
}

.show-funding .progress .bar{
	background-color: #dddddd;
}


#investment-levels li{
	list-style: none;
	
	border-bottom: 1px dotted;
	text-align: center;
	width: 100%;
}

.investment-number {
	font-size: 30px;
	height: 100%;
	

}

.investment-block {
	line-height: 100px;
}

/* New Investment Page */

.details-title {
	background-color: #DDDDDD;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
}

.table-body {
	margin-top: 20px;
	margin-left: 20px;

}

.table-body td {
	border-bottom: 1px dotted;
	padding: 10px 20px 10px;
}

