@import 'bootstrap';

$navbarBackgroundHighlight: white;
$navbarBackground: white;


.navbar-inner { background: $navbarBackground; }

body {
	padding-top: 40px;
	height: 100%;
	padding-bottom: 100px;
}

html {
	height: 100%;
}

.jumbotron {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}
.jumbotron h1 {
	font-size: 100px;
	line-height: 1;
}

.jumbotron .btn {
	padding: 14px 24px;
}


.alert {
	width: 890px;
}

.navbar-inner li {
	font-size: 13px;
}

footer {
    margin-top: 50px;
    color: #bbbbbb;
    a {
    	color: #cccccc ;
    }
}

/* Main Home Page */

.main-content {
	background: #ffffff;
	min-height: 400px;
	margin-bottom: 400px;
	position: relative;
	
	z-index: 2 !important;
}

.main-levels {
	margin-top: 20px;
	margin-bottom: 50px;
}

hr.home {
border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home-funding {
	height: 70px;
	padding-top: 10px;
}


.home-funding-percent {
	width: 110px;
	padding-left: 15px;
	float: left;
}

.home-funding-total {
	width: 110px;
	float: left;
	padding-left: 5px;
}

.home-funding-savings {
	width: 110px;
	float: left;
	padding-left: 5px;
}

.home-funding .progress {
	height: 8px;
	width: 300px;
	margin-left: 25px;
	background: #dddddd;
}

.home-funding .progress .bar{
	background-color: #dddddd;
	width: 0;
}

